* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.rapper {

    white-space: nowrap;
}

.navbar {
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    display: flex;
    /* justify-content: space-evenly ; */
    /* position: fixed; */


}

.navlogo {
    border: 2px solid white transparent;
}

.navlogo:hover {
    border: 1.3px solid white;
}

p {
    margin-right: 23px;
}

.bod {
    border: transparent;
}

.bod:hover {
    border: 1.3px solid white;
}

.display {
    color: white;
    margin-top: 32px;
    display: flex;
    margin-left: -95px;
    font-size: 14px;
}

.bg {
    height: 65px;
    width: 120px;
    background-color: #0f1111;
    margin-bottom: 20px;
}

.location {
    color: white;
}

.location i {
    margin-left: -50px;
    margin-bottom: ;
}

p {
    margin-left: 20px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 20px;
    color: #cccccc;
    margin-bottom: 1px;
}

select {
    font-size: 14px;
    background-color: #c4c3c3;
    color: #0f1111;
    height: 36px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    margin-left: 40px;
    width: 38px;

    border-right: 1PX #c4c3c3;
    font-size: 10PX;
    padding-left: 1PX;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border: none;

    border-left: #c4c3c3;
}

select:hover {
    border: none;


}

.search {
    margin-top: 17px;
}

input {
    height: 36px;
    width: 400PX;
    font-size: 14px;
    border: none;
    padding-left: 5px;



}

input:hover {}

.icon {
    color: aliceblue;
    border: 2px;
    width: 40px;
    height: 36px;
    background-color: orange;
    margin-top: 17px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;

}

.icon i {
    margin-top: 9px;
    font-size: 18px;
    color: black;
}

.navbar2 {
    width: 100%;
    background-color: #2c3636;
    height: 30px;
    /* display: inline; */
    display: flex;
    /* justify-content: center; */
    display: flex;
    text-align: center;
    align-items: center;
    color: #faf3f3;
    white-space: nowrap;
    /* position: fixed; */



}

.menu {
    margin-left: 2px;
    font-size: 18px;

}

li {
    border: 2px solid wheat transparent;
    list-style-type: none;
    display: inline;
    margin-right: 18px;

}

li:hover {
    border: 1.4px solid white;
    height: 20px;
}

.LIST {
    list-style-type: none;
    margin-left: 20PX;
    display: inline;
    display: flex;
    color: white;
    margin-top: 5px;



}

LI {
    margin-left: 10PX;
}

.search:focus {
    border: none;
}

.sign {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid white transparent;
}

.sign:hover {
    border: 1.3px solid white;
}

.sign p {
    color: antiquewhite;
    margin-left: -82px;

}

.sign h5 {
    color: #ffe0e0;
    padding-left: 50px;
    margin-top: -8px;
}

.return {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid white transparent;
}

.return:hover {
    border: 1.3px solid white;
}

.inp {
    outline-style: none;
}

.return h4 {
    color: #ffe0e0;
    margin-left: -60px;
    margin-top: 24px;
    padding-left: -40px;
    margin-right: 40px;
}

.return p {
    color: antiquewhite;
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.cart {
    color: #faf3f3;
    display: flex;
    margin-top: 24px;
    margin-left: 39px;
    margin-bottom: 20px;


}

.cart i {
    font-size: 40px;

}

.cart h3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;


}

.bor {
    border: 2px solid white transparent;
}

.bor:hover {
    border: 1.3px solid white;
}

.menu {
    border: transparent;
}

.menu:hover {
    border: 1.3px solid white;
}

.boxes {
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.box1 {
    height: 500px;
    width: 600px;
    border: 2px solid black none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;


}

.box2 {
    height: 500px;
    width: 600px;

    border: 2px solid black none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;

}
.box3 {
    height: 500px;
    width: 600px;
    border: 2px solid black none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;

}

.box4 {
    height: 500px;
    width: 600px;
    border: 2px solid black none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    ;

}

.imgmarg {
    margin: auto;
    height: 300px;
    width: 400px;
    position: relative;
}

.imgmarg {
    position: absolute;
    margin-left: 18px;
    height: 300px;
    margin-top: 40px;
    width: 400px;

}

h2 {
    margin-left: 18px;
    margin-top: 5px;
    font-size: 21px;
}

.onespan {
    margin-top: 280px;
    margin-left: -195px;
    color: rgb(3, 73, 3);

}

span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.box2span {
    margin-right: px;
    margin-top: 280px;
    margin-left: -67px;
    color: rgb(3, 73, 3);
}